/* Phong cách cho bảng */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

/* Phong cách cho tiêu đề bảng */
thead th {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #dddddd;
}

/* Phong cách cho các ô dữ liệu */
tbody td {
    padding: 10px;
    border: 1px solid #dddddd;
}

/* Hiệu ứng khi di chuột qua một hàng */
tbody tr:hover {
    background-color: #f5f5f5;
}

.btn {
    padding: 10px 20px;
    font-size: 30px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-them {
    background-color: #4CAF50; /* màu xanh */
    color: white;
}

.btn-xoa {
    background-color: #f44336; /* màu đỏ */
    color: white;
}

.btn-sua {
    background-color: #FFC107; /* màu vàng */
    color: white;
}

/* Để căn giữa các nút bấm */
.button-group {
    text-align: center;
    margin-bottom: 20px;
}
